---
title: Home page
listed: false
published: true
---
!!!
%html{lang: "en"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
    %meta{charset: "utf-8"}/
    %meta{name: "keywords", content:"{{ site.meta_keywords }} {{ page.meta_keywords }}"}/
    %meta{name: "description", content:"{% if page.meta_description %} {{ page.meta_description }} {% else %} {{ site.meta_description }} {% endif %}"}/
    
    %title 
      {{ page.title }} - {{ site.name }}
      |
      {% if page.seo_title %}
      {{ page.seo_title }}
      {% else %}
      {{ site.seo_title }}
      {% endif %}
    
    %meta{content: "width=device-width, initial-scale=1, maximum-scale=1", name: "viewport"}/

    {{ 'application.css' | stylesheet_tag }}

    /[if lt IE 9]
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    %link{rel: "shortcut icon", href: "/samples/favicon.png"}/
    %link{rel: "apple-touch-icon-precomposed", sizes: "144x144", href: "/samples/apple-touch-icon-144x144-precomposed.png"}/
    %link{rel: "apple-touch-icon-precomposed", sizes: "114x114", href: "/samples/apple-touch-icon-114x114-precomposed.png"}/
    %link{rel: "apple-touch-icon-precomposed", sizes: "72x72", href: "/samples/apple-touch-icon-72x72-precomposed.png"}/
    %link{rel: "apple-touch-icon-precomposed", href: "/samples/apple-touch-icon-precomposed.png"}/

    {% inline_editor %}

  %body{class: "page-{{ page.slug}}"}
  
    / navbar
    {% include 'navbar' %}
  
  
    / Page Content
    .container
      .row
        {% block 'main' %}
        .col-md-3.hidden-sm.hidden-xs
          {% include 'mockup-leftcol' %}
          
        .col-md-6.col-sm-12
        
          .row
            .col-md-12.col-sm-12
              {% assign issue = contents.issues.first %}
              {% with_scope featured: true %}
              {% for post in issue.posts %}
              {% if post.featured %}
              {% assign featured_post = post %}
              {% endif %}
              {% endfor %}
              {% endwith_scope %}
          
              %h1 {{ issue.name }}
              <br/>
              %img.img-responsive{src:"{{ featured_post.featured_image | resize: '1000x' }}"}
          
              .caption
                %h3 {{ featured_post.title | escape }}
                .teaser {{ featured_post.teaser }}
                %p
                  %a.btn.btn-primary{href: "/posts/{{ featured_post._slug }}"}Read More
          
          .row.categories
          
            {% for category in contents.categories %}
            .post-listing.col-sm-6.col-md-4
              .thumbnail
                xx
    
              .caption
                %h3 {{ category.title | escape }}
                %ul
                  %li Post 1
                  %li Post 2
                  %li Post 3
                %p
                  %a.btn.btn-primary{href: "/categories/{{ category._slug }}"} More like this
        
            {% cycle  '', '<div class="clearfix visible-sm">&nbsp;</div>' %}
            {% cycle '', '', '<div class="clearfix hidden-sm hidden-xs">&nbsp;</div>'  %}
  
            {% endfor %}
            
          
        .col-md-3.col-sm-12
          {% include 'issue_block' with issue %}
        
        {% endblock %}
          
      / footer
      {% include 'footer' %}
    
    /%script{src: "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js", type: "text/javascript"}
    {{ 'jquery-2.1.3.min.js' | javascript_tag }}
    {{ 'bootstrap.min.js' | javascript_tag }}
    {{ 'application.js' | javascript_tag }}
    :javascript
      $(document).ready(function() {
      });
